<mat-toolbar>
    <span>Entertainment Tracker</span>
    <span class="spacer"></span>

    <a mat-button routerLink="/library" routerLinkActive="active">Library</a>
    <a
        mat-button
        routerLink="/movies-series"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Movies/Series
    </a>
    <a mat-button routerLink="/books" routerLinkActive="active">Books</a>
    <a mat-button routerLink="/games" routerLinkActive="active">Games</a>
</mat-toolbar>

<main class="content">
    <router-outlet />
</main>
